.base__select {
    width: 100%;
    padding-bottom: 19px;

    &-label {
      display: block;
      font-family: $base-font-family;
      font-size: 14px;
      padding-bottom: 10px;
      font-weight: 600;
      color: $black-color;
    }

    .ant-select {
      width: 100%;
      height: 40px;
      background-color: $light-grey-color;
      font-family: $base-font-family;

      &-selector{
        background-color: $light-grey-color !important;
      }
    }
}