.settings__users-groups__list {
  &-buttons {
    display: flex;
    gap: 10px;
  }

  &-item {
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;

    &__active {
      background-color: $primary-color;
      cursor: $white-color;

      .settings__users-groups__list-name, .settings__users-groups__list-order {
        color: $white-color;
      }
    }
  }

  &-name {
    margin: 0;
    font-family: $base-font-family;
    font-weight: 700;
  }

  &-order {
    margin: 0;
    font-family: $base-font-family;
  }
}