.settings__page {
  width: 100%;
  background-color: $grey-color;
  box-sizing: border-box;
  min-height: 100vw;
  padding: 30px;

  &-wrap {
    background-color: $white-color;
    border-radius: 10px;
    min-height: 400px;
    box-sizing: border-box;
  }

  &-title {
    font-size: 24px;
    font-family: $base-font-family;
  }

  &-content {

  }
}