.base__tab {
  width: 100%;
  border-bottom: 2px solid $grey-color;
  cursor: pointer;

  &-wrap {
    display: flex;
    padding: 0 20px;
  }

  &-item {
    padding: 16px 15px;
    font-family: $base-font-family;
    margin-bottom: -2px;

    &__active {
      border-bottom: 2px solid $primary-color;
    }

    a {
      color: $black-color;
      font-weight: 500;
    }
  }
}