.base__button {
  width: 100%;

  .MuiButtonBase-root {
    width: 100%;
    font-size: 16px;
    padding: 14px 30px;
    font-weight: 600;
    font-family: $base-font-family;
    border-radius: 4px;
  }

  .MuiButton-contained {
    background-color: $primary-color;
    border-color: $primary-color;

    &:disabled {
      background-color: $light-grey-color;
      color: $dark-grey-color;
    }
  }

  .MuiButton-outlined {
    color: $primary-color;
    border-color: $primary-color;

    &:disabled {
      color: $dark-grey-color;
      border-color: $dark-grey-color;
    }
  }

  .MuiButton-outlinedError {
    color: $red-color;
    border-color: $red-color;
  }

  .MuiButton-containedSuccess {
    border-color: $green-color;
    background-color: $green-color;
  }

  .MuiButton-containedError {
    border-color: $red-color;
    background-color: $red-color;
  }
}