.base__button {
  width: 100%;

  .ant-btn-variant-outlined {
    height: 45px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: $primary-color;
    color: $white-color;
    text-transform: uppercase;

    &:disabled, &:disabled:hover{
      background-color: $light-grey-color !important;
      color: $dark-grey-color !important;
    }

    &:hover {
      background: $primary-color !important;
      color: $light-grey-color !important;
    }
  }
}